@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  @apply font-inter;
  @apply text-dark;
}

h4,
h5,
h6,
p {
  @apply font-poppins;
  @apply text-dark;
}

.text-gold {
  background: linear-gradient(
    to right,
    #865319 9%,
    #fac561 37%,
    #a27201 48%,
    #865319 56%,
    #ecb859 65%,
    #a07002 79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-circle-gold {
  background: linear-gradient(
    to right,
    #865319 9%,
    #fac561 37%,
    #a27201 48%,
    #865319 56%,
    #ecb859 65%,
    #a07002 79%
  );
  opacity: 0.1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
